<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Agenda Book.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FD43C05A1DA9ABD10032F78B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD43C0701DA9ABD20032F78B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD43C07B1DA9ABD20032F78B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
